input {
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

}
textarea{
  font-family: 'Lato', sans-serif;
  padding: 5px;
  width: 333px;
  font-size: 16px;
}

.wpcf7-submit{
  width: 80px;
}
